{% extends "base.html" %}
{% block content %}

        <div>
            <h2>{{post.subject}}</h2>
            <small>Posted by {{post.user.name}} on {{post.created.strftime("%b %d, %Y")}}</small>
            <p class="content">{{post.content}}</p>
        </div>
        <a style="color:#000" href="/post/{{post.key().id()}}/like">
             &#128077; {{post.likes}}
        </a> | 
        <a style="color:#000" href="/post/{{post.key().id()}}/unlike">
            &#128078;
        </a>
        &nbsp;
    {% if user and user.key().id() == post.user.key().id()%}
        <a style="color:blue" href="/post/{{post.key().id()}}/edit">
            <button class="btn btn-info"> &#9998; Edit </button>
        </a>
        <a style="color:blue" href="/post/{{post.key().id()}}/delete">
            <button class="btn btn-danger"> &#9003; Delete</button>
        </a>
    {% endif %}
    {% if user %}
        <a style="color:blue" href="/post/{{post.key().id()}}/addcomment/{{user.key().id()}}">
            <button class="btn btn-danger"> Add comment</button>
        </a>
    <span class="alert-danger">{{error}}</span>
    {% endif %}
<hr>
{% if comments_count == 1 %}
    <label>{{comments_count}} comment</label>
{% else %}
    <label>{{comments_count}} comments</label>
{% endif %}
{% for comment in post_comments %}
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>{{comment.text}}</strong>
            <br><br>
            <div>
                <div class="pull-left">
                    <small>Posted by {{comment.user.name}} on {{comment.created.strftime("%b %d, %Y")}}</small>
                </div>
                <div class="pull-right">
                    {% if comment.user.name == user.name %}
                        <a style="color:blue" href="/post/{{post.key().id()}}/editcomment/{{comment.key().id()}}">edit</a> | 
                        <a style="color:blue" href="/post/{{post.key().id()}}/deletecomment/{{comment.key().id()}}">delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}